.field {
    max-width: 1000px;
    margin: 50px auto;
    box-sizing: border-box;
    font-size: 0px;

}
h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.img-box {
    width: 20%;
    @media screen and (max-width: 768px){
        width: 50%;
    }
    position: relative;
    //height: 200px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid transparent;
    position: relative;
    &:after {
        content: '';
        padding-top: 100%;
        display: block;
    }
    &:before {
        content:'';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        bottom: 5px;
        right: 5px;
        z-index: 2;
        opacity: 0;
    }
    &:hover{
        border: 2px solid red;
    }
    &.active {
        border: 2px solid red;
        
        &:before {
            opacity: 1;
        }
    }
  
}
img {
    position: absolute;

    object-fit: cover;
    width: 100%;
    height: 100%;
}
.disabled {
    display: none;
}


