<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Find same Lenin
		include _styles.pug
	body
		h1 Find same Lenin
		.field
			//- .img-box(data-id="1")
			//- 	img(src="img/1.jpg", alt="Lenin")
			//- .img-box(data-id="2")
			//- 	img(src="img/2.jpg", alt="Lenin")
			//- .img-box(data-id="3")
			//- 	img(src="img/3.jpg", alt="Lenin")
			//- .img-box(data-id="4")
			//- 	img(src="img/4.jpg", alt="Lenin")
			//- .img-box(data-id="5")
			//- 	img(src="img/5.jpg", alt="Lenin")
			//- .img-box(data-id="6")
			//- 	img(src="img/6.jpg", alt="Lenin")
			//- .img-box(data-id="7")
			//- 	img(src="img/7.jpg", alt="Lenin")
			//- .img-box(data-id="8")
			//- 	img(src="img/8.jpg", alt="Lenin")
			//- .img-box(data-id="9")
			//- 	img(src="img/9.jpg", alt="Lenin")
			//- .img-box(data-id="10")
			//- 	img(src="img/10.jpg", alt="Lenin")
			//- .img-box(data-id="1")
			//- 	img(src="img/1.jpg", alt="Lenin")
			//- .img-box(data-id="2")
			//- 	img(src="img/2.jpg", alt="Lenin")
			//- .img-box(data-id="3")
			//- 	img(src="img/3.jpg", alt="Lenin")
			//- .img-box(data-id="4")
			//- 	img(src="img/4.jpg", alt="Lenin")
			//- .img-box(data-id="5")
			//- 	img(src="img/5.jpg", alt="Lenin")
			//- .img-box(data-id="6")
			//- 	img(src="img/6.jpg", alt="Lenin")
			//- .img-box(data-id="7")
			//- 	img(src="img/7.jpg", alt="Lenin")
			//- .img-box(data-id="8")
			//- 	img(src="img/8.jpg", alt="Lenin")
			//- .img-box(data-id="9")
			//- 	img(src="img/9.jpg", alt="Lenin")
			//- .img-box(data-id="10")
			//- 	img(src="img/10.jpg", alt="Lenin")
		include _scripts.pug
		